	html{font-size: 62.5%;}
body{
	color: white;
	background-color: rgb(104,205,213);
	font-size:1.3rem;
}
.arrow{
	display: inline-block;
	margin-bottom: 6rem;
	width: 3rem;
	height: 2.9rem;
	background-image: url("http://ovjmx1g1u.bkt.clouddn.com/17-8-31/15271258.jpg");
}
.title{
	float: left;
	position: relative;
	left: 50%;
}
.logo{
	position: relative;
	left: -50%;
	width: 9.7rem;
	height: 4.4rem;
	background-image: url("http://ovjmx1g1u.bkt.clouddn.com/17-8-31/35132631.jpg");
}
.intro{
	text-align: left;
	margin:12rem 15% 12rem;
}
.bottom>div{
	display: inline-block;
}
.iconA{
	margin-left: 15%;
	text-align: center;
}
.iconB{
	float: right;
	margin-right: 15%;
	text-align: center;
}
.icon1{
	width: 4.3rem;
	height: 4.3rem;
	margin:auto;
	background-image: url("http://ovjmx1g1u.bkt.clouddn.com/17-8-31/56965024.jpg");
}
.icon2{
	width: 4.7rem;
	height: 4.3rem;
	margin:auto;
	background-image: url("http://ovjmx1g1u.bkt.clouddn.com/17-8-31/43867136.jpg");
}
p{text-align: left;}
@media only screen and (min-width:1000px){
p{text-align: center;}
.arrow{
	display: inline-block;
	margin-bottom: 6rem;
	width: 5.9rem;
	height: 5.7rem;
	background-image: url("http://ovjmx1g1u.bkt.clouddn.com/17-8-31/4265805.jpg");
}
.logo{
	position: relative;
	left: -50%;
	width: 19rem;
	height: 7.5rem;
	background-image: url("http://ovjmx1g1u.bkt.clouddn.com/17-8-31/10430447.jpg");
}
.icon1{
	width: 8.6rem;
	height: 8.6rem;
	margin:auto;
	background-image: url("http://ovjmx1g1u.bkt.clouddn.com/17-8-31/91837601.jpg");
}
.icon2{
	width: 9.3rem;
	height: 8.5rem;
	margin:auto;
	background-image: url("http://ovjmx1g1u.bkt.clouddn.com/17-8-31/58103184.jpg");
}
}
